.pnf{
  height: 85vh;
  background: url('https://global.discourse-cdn.com/cloudflare/original/3X/b/2/b26691e1344ddfdda3bd4e7600135a4aae51b911.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}